<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>kkday- kr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="styles/kk_style.css"/>
    <link rel="stylesheet" href="styles/style.css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js" integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  </head>
  <body>
    <div class="brickk-wrapper">
      <header>
        <div class="container"><a href="https://www.kkday.com/ja" class="logo" data-check-cid="1"></a></div>
      </header>
      <div id="app">
        <div class="page-kv page-kv--kr"><a class="page-title" href="https://www.kkday.com/ja/product/productlist/A01-004?page=1&amp;sort=pvdesc" target="_blank"></a></div>
        <div class="page-sub">
          <div class="page-sub-hd">
            <p class="page-sub-title discount-20"></p>
            <p class="page-sub-text">夏旅プランがお得な</p>
          </div>
          <div class="page-sub-bd">
            <div class="container">
              <div class="board">
                <div class="board-title"><span class="board-sub-text">夏旅プランがお得な</span><span class="board-slogan discount-20"></span><span class="board-coupon-title">クーポンコード：</span><span class="board-coupon">EGV79R</span></div>
                <p class="board-note"><span class="board-note-line1">セール期間：2019年6月24日〜7月5日</span><span class="board-note-line2">＊交通・チケットカテゴリーの商品を除きます。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="page-sec page-sec1">
          <div class="deco-cloud1"></div>
          <div class="page-sec-hd">
            <p class="page-sec-title"> <a href="https://www.kkday.com/ja/product/productlist/A01-004?page=1&amp;sort=pvdesc" target="_blank">ソウルの注目プラン</a></p>
          </div>
          <div class="page-sec-bd">
            <div class="container">
              <div class="row page-row">
                <div class="col-md-3 col-sm-6 col-xs-6 page-col" v-for="item in krTopic1">
                  <div class="card card-product"><a :href="item.url" target="_blank" data-check-cid="1">
                      <div class="pic" :style="{ 'backgroundImage': 'url(' + item.img + ')' }"></div>
                      <div class="detail">
                        <div class="title">{{item.title}}</div>
                        <div class="card-info">
                          <div class="card-stars"><i class="star star-100" v-for="n in item.star"></i><i class="star star-0" v-if="item.starLast == 1"></i><i class="star star-25" v-if="item.starLast == 2"></i><i class="star star-50" v-if="item.starLast == 3"></i><i class="star star-75" v-if="item.starLast == 4"></i><i class="star star-75" v-if="item.starLast == 5"></i>
                            <div v-if="item.star!==5">         <i class="star star-0" v-for="n in 4-item.star"></i></div>
                          </div>
                          <div class="price">JPY<span>{{item.price}}</span></div>
                        </div>
                      </div></a></div>
                  <div class="card-comment" :class="{'card-comment-k': item.recommended}">{{item.comment}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-sec page-sec2">
          <div class="deco-cloud2"></div>
          <div class="page-sec-hd">
            <p class="page-sec-title"> <a href="https://www.kkday.com/ja/product/productlist/A01-004?page=1&amp;glang=%E6%97%A5%E6%9C%AC%E8%AA%9E&amp;cat=TAG_3_1%2CTAG_3_2%2CTAG_3_3%2CTAG_3_4%2CTAG_3_5%2CTAG_3_6&amp;sort=tdesc" target="_blank">オススメご当地体験</a></p>
          </div>
          <div class="page-sec-bd">
            <div class="container">
              <div class="row page-row">
                <div class="col-md-3 col-sm-6 col-xs-6 page-col" v-for="item in krTopic2">
                  <div class="card card-product"><a :href="item.url" target="_blank" data-check-cid="1">
                      <div class="pic" :style="{ 'backgroundImage': 'url(' + item.img + ')' }"></div>
                      <div class="detail">
                        <div class="title">{{item.title}}</div>
                        <div class="card-info">
                          <div class="card-stars"><i class="star star-100" v-for="n in item.star"></i><i class="star star-0" v-if="item.starLast == 1"></i><i class="star star-25" v-if="item.starLast == 2"></i><i class="star star-50" v-if="item.starLast == 3"></i><i class="star star-75" v-if="item.starLast == 4"></i><i class="star star-75" v-if="item.starLast == 5"></i>
                            <div v-if="item.star!==5">         <i class="star star-0" v-for="n in 4-item.star"></i></div>
                          </div>
                          <div class="price">JPY<span>{{item.price}}</span></div>
                        </div>
                      </div></a></div>
                  <div class="card-comment" :class="{'card-comment-k': item.recommended}">{{item.comment}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-sec page-sec3">
          <div class="deco-bird"></div>
          <div class="page-sec-hd">
            <p class="page-sec-title"> <a href="https://www.kkday.com/ja/product/productlist/A01-004?page=1&amp;cat=TAG_5_2&amp;sort=tdesc" target="_blank">お得な交通プラン</a></p>
          </div>
          <div class="page-sec-bd">
            <div class="container">
              <div class="row page-row">
                <div class="col-md-3 col-sm-6 col-xs-6 page-col" v-for="item in krTopic3">
                  <div class="card card-product"><a :href="item.url" target="_blank" data-check-cid="1">
                      <div class="pic" :style="{ 'backgroundImage': 'url(' + item.img + ')' }"></div>
                      <div class="detail">
                        <div class="title">{{item.title}}</div>
                        <div class="card-info">
                          <div class="card-stars"><i class="star star-100" v-for="n in item.star"></i><i class="star star-0" v-if="item.starLast == 1"></i><i class="star star-25" v-if="item.starLast == 2"></i><i class="star star-50" v-if="item.starLast == 3"></i><i class="star star-75" v-if="item.starLast == 4"></i><i class="star star-75" v-if="item.starLast == 5"></i>
                            <div v-if="item.star!==5">         <i class="star star-0" v-for="n in 4-item.star"></i></div>
                          </div>
                          <div class="price">JPY<span>{{item.price}}</span></div>
                        </div>
                      </div></a></div>
                  <div class="card-comment" :class="{'card-comment-k': item.recommended}">{{item.comment}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 tc"><a class="page-more" href="https://www.kkday.com/ja/product/productlist/A01-004" target="_blank">韓国のプランをもっと見る</a></div>
            </div>
          </div>
        </div>
        <div class="page-blog page-sec">
          <div class="deco-cloud-blog"></div>
          <div class="page-sec-hd">
            <p class="page-sec-title blog-title"> <i class="icon-tri tri1"></i>旅の情報はここから<i class="icon-tri tri2"></i></p>
          </div>
          <div class="page-sec-bd">
            <div class="container">
              <div class="row page-row">
                <div class="col-md-4 col-sm-4 col-xs-6 page-col" v-for="item in krBlog">
                  <div class="card card-product"><a :href="item.url" target="_blank" data-check-cid="1">
                      <div class="pic" :style="{ 'backgroundImage': 'url(' + item.img + ')' }"></div></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-current">
            <div class="container">
              <div class="page-current-row"><a class="page-current-link" href="#tw"><i class="page-icon page-icon-tw"></i></a><a class="page-current-link" href="#hk"><i class="page-icon page-icon-hk"></i></a><a class="page-current-link is-current" href="#kr"><i class="page-icon page-icon-kr"></i></a><a class="page-current-link" href="#hi"><i class="page-icon page-icon-hi"></i></a><a class="page-current-link" href="#th"><i class="page-icon page-icon-th"></i></a></div>
            </div>
          </div>
        </div>
        <div class="page-bottom">
          <div class="container">
            <ul>
              <li> 
                <p>ご利用上の注意：</p>
                <ol>
                  <li>為替相場の変動により、日本円の表示価格が変更される場合がございます。</li>
                  <li>本ページ内の掲載商品は、予告なく変更・販売停止となる場合がございます。</li>
                  <li>弊社のプライバシーポリシー、ならびに利用規約をあらかじめご確認ください。</li>
                </ol>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <footer>
        <div class="container"><a class="logo" href="https://www.kkday.com/ja/" data-check-cid="1"></a>
          <div class="pull-right">
            <ul class="sns">
              <li><a href="https://www.facebook.com/KKdayJapan/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCo6bfIB_KGaXw09EoIH-u8g" target="_blank"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://www.instagram.com/kkdayjp/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://twitter.com/KKdayJP" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://jp.blog.kkday.com/" target="_blank"><i class="fa fa-bold"></i></a></li>
              <li><a href="https://www.pinterest.com/kkdayofficial/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </footer>
    </div>
    <script src="scripts/page.js"></script>
  </body>
</html>